In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../data/tatacrucible.csv")

In [3]:
# pd.to_datetime(df['DateTime'][0])
df['DateTime'] = df['DateTime'].apply(pd.to_datetime)

In [4]:
df.to_csv("data.csv", index=False)

In [5]:
dates = list(df['Date'].unique())

In [6]:
X = df[df['Date'] == dates[0]]['DateTime'].unique()

In [8]:
df

,DateTime,Date,pH,GlobalLightEnergy(W.m2),Temp(C),DO (mg.L),DO (%sat),Sal (g.L),Protein.AF,FAME.Lipids.AF,Carbohydrates.AF,Harvest Vol (L),AFDW (g/L),AFDW (g)
0,2014-09-10 08:44:00,09-10-2014,8.06,295.68,18.61,9.08,138,33.5,26.36,23.76,16.35,768.75,0.523333,402.312500
1,2014-09-10 08:58:00,09-10-2014,8.20,264.85,15.27,6.15,94,33.4,43.86,10.77,6.26,768.75,0.363333,279.312500
2,2014-09-10 09:14:00,09-10-2014,7.51,295.35,15.02,6.05,93,33.5,44.32,13.09,8.45,768.75,0.370000,284.437500
3,2014-09-10 09:29:00,09-10-2014,7.58,283.52,17.53,5.95,92,33.5,43.07,11.17,8.18,768.75,0.453333,348.500000
4,2014-09-10 09:43:00,09-10-2014,7.65,295.59,18.79,5.95,92,33.5,43.35,13.77,6.44,871.25,0.425556,370.765278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,2014-10-04 23:44:00,10-04-2014,7.92,250.95,23.82,5.34,74,36.3,37.31,13.34,30.82,512.50,0.103750,53.171875
1934,2014-10-04 23:58:00,10-04-2014,7.93,253.74,23.27,5.35,74,36.3,32.78,12.99,30.91,512.50,0.232222,119.013889
1935,2014-10-05 00:14:00,10-05-2014,7.91,250.34,23.91,5.40,74,36.3,31.56,13.76,35.60,1025.00,0.141667,145.208333
1936,2014-10-05 00:29:00,10-05-2014,7.81,251.09,24.65,5.42,74,36.3,34.27,9.67,33.11,358.75,0.488000,175.070000
1937,2014-10-05 00:43:00,10-05-2014,7.81,251.56,24.99,5.50,75,36.4,43.89,7.55,36.43,358.75,0.266667,95.666667

In [20]:
print(df['Protein.AF'].min(), df['Protein.AF'].max())
print(df['FAME.Lipids.AF'].min(), df['FAME.Lipids.AF'].max())
print(df['Carbohydrates.AF'].min(), df['Carbohydrates.AF'].max())

15.89 74.21
0.0 33.95
1.5 41.33

In [23]:
df['GlobalLightEnergy(W.m2)'].max()

654.77

In [35]:
df['DO (mg.L)'].max()

34.4

In [30]:
df['Temp(C)'] = df['Temp(C)'].apply(lambda x : x + 2.45)

In [38]:
df['Temp(C)'].max()

40.86